{% extends "blog_base.html" %}
{% block start %}
<div class="container">
  <div class="row">
    <div class="col-9 mx-auto mt-4">
      <h1>Add Blog</h1>
      <hr>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Description</label>
          <textarea class="form-control" id="content" rows="2" name="content"></textarea>
          <script>
            CKEDITOR.replace('content');
          </script>
        </div>
        <div class="mb-3">
          <label for="blog_image" class="form-label">Image</label>
          <input type="file" class="form-control" id="blog_image" name="blog_image">
        </div>
        <button type="submit" class="btn btn-success">Add Blog</button>
      </form>
    </div>

  </div>

</div>




{% endblock %}